body {
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    background-color: #FFFFFF;

    overflow-x: hidden;
    margin: auto;    
}


/* HEADER */
h2 {
    font-family: 'Lagency', sans-serif;
    font-weight: lighter;
}

h2 a {
    text-decoration: none; /* Remove o sublinhado */
    color: black;
}
   
.cabecalho h2:hover, h2 a:hover {
    color: #E3DBD7;
}

.cabecalho {
    display: flex;
    gap: 100px;
    align-items: center;
    margin: auto;
    justify-content: center;
}

img {
    width: 150px;
}

/* MAIN */
section#img01 {
    background-image: url(../imagens/bruna1.jpg);
    background-position: right center;
    width: 1920px;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

/*FOOTER*/
#copyright {
    font-size: 15px;
    padding: 5px;
    
    border-radius: 5px;
    width: fit-content;
    display: inline-block;
    background-color: #F190A3;
}
  