@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* BODY */
body {
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    background-color: #FFFFFF;

    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    color: #3D4852;
    font-family: "Poppins", sans-serif;

}

/* ------------------ */


/* HEADER */
.cabecalho {
    display: flex;
    gap: 100px;
    align-items: center;
    margin-left: 300px;
    justify-content: center;
    
}

.cabecalho h2:hover, h2 a:hover {
    color: #E3DBD7;
}

/* TEXTOS */
h2 a {
    font-family: 'Lagency', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    color: #3D4852;
}

/* IMAGEM */
img {
    width: 150px;
}

/* BOTAO */
.botao {
    border: solid 20px #F190A3;
    border-radius: 20px;
    font-size: 17px;
    font-family: 'Lagency', sans-serif;
    background-color: #F190A3;
    margin-top: 2%;
}

.botao:hover {
    background-color: #F190A3;
    transform: scale(1.2);
    transition: 1s ease;
}

/* ------------------ */


/* MAIN */

/* IMAGEM */

.background-meio {
    background-color: #F2F2F2;
}

section#img01 {
    background-image: url(../imagens/bruna1.jpg);
    background-position: right center;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
}
/* TITULOS */
#titulo-online, #titulo-especialidades, #sobre-titulo, #funcionamento-titulo {
    font-size: 40px;
    margin-top: 10%;
}

/* PARARAFOS */
.paragrafo-online, .paragrafo-especialidades {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

/* IMAGEM */
.imagens-especialidades {
    width: 350px;
    height: 230px;
    padding: 20px;
    transition: 1s ease;
    border-radius: 27px;
}

.circulo {
    position: absolute;
    bottom: -1000px;
    right: -450px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: #BC999A;
}

.circulo2 {
    position: absolute;
    bottom: -4300px;
    left: -450px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: #BC999A;
}


.imagens-especialidades:hover {
    transform: scale(1.2);
}

/* SOBRE E FUNCIONAMENTO */

.sobre{
    display: flex;
    align-items: end;
    justify-content: left;
    flex-direction: column;
    text-align: end;
}

.funcionamento{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 15% 20% 15% 20%;
}

.sobre-informacoes-1, .funcionamento-informacoes {
    font-size: 27px;
    font-weight: bolder;
    color: #B99496;
}

.sobre-informacoes-2 {
    font-weight: 200;
    color: #BC999A;
}

#sobre-imagem {
    width: 380px;
    height: 400px;
    border-radius: 50%;
}

.img-agendar {
    width: 300px;
    height: 550px;
    border-radius: 10px;
    justify-content: left;
}

.agendar{
    margin-top: 15%;
}

.especialidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
  }
  
.especialidades.item {
    flex: 1 0 30%;
    margin-bottom: 20px;
    flex-direction: column;
  }
  
.especialidades.item img {
    width: 100%;
    height: auto;
    margin: 10%;
  }
  
.especialidades.item h1,
.especialidades.item p {
    margin: 10%; 
  }

  blockquote {
    margin-left: 20%;
    margin-right: 20%;
    padding: 25px;
    border: solid thick #f190a3aa;
    border-radius: 0.6em;
    box-shadow: #B99496 0.6em 0.6em 0.6em;
    background-color: #F2F2F2;
}

/* ------------------ */


/*FOOTER*/

footer {
    color: white;
    padding: 10px;
    background-color: #B99496;
    height: 400px;

}

.img-rodape {
    width: 40px;
    height: 40px;
}

.rodape h1 {
    font-size: 30px;
    font-weight: 300;
}

.rodape h3 {
    font-weight: lighter;
}
